pipeline/pp_copy_landing_to_raw.json
{
	"name": "pp_copy_landing_to_raw",
	"properties": {
		"activities": [
			{
				"name": "ForEachFileLanding",
				"description": "Get all files of landing container. \nps. All files must be extentions excel.",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.par_copy_file_name",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_data_ingestion",
								"value": {
									"value": "@if(empty(pipeline().parameters.par_copy_data_ingestion),formatDateTime(utcNow(), 'yyyyMMdd'),pipeline().parameters.par_copy_data_ingestion)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_excel",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "landing",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@variables('var_file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": "raw",
										"p_directory_name": {
											"value": "pdv/@{split(replace(variables('var_file_name'),' ',''),'.')[0]}/dtIngestao=@{variables('var_data_ingestion')}",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@{split(replace(variables('var_file_name'),' ',''),'.')[0]}.parquet",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_file_name",
								"value": {
									"value": "@if(contains(item(),'type'),item().name,item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_copy_data_ingestion": {
				"type": "string"
			},
			"par_copy_file_name": {
				"type": "array"
			}
		},
		"variables": {
			"var_data_ingestion": {
				"type": "String"
			},
			"var_file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ELT_Files_PDV"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-11T18:24:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}