pipeline/pp_initial.json
{
	"name": "pp_initial",
	"properties": {
		"activities": [
			{
				"name": "ex_pp_copy_landing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "if file name is empty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pp_copy_landing_to_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"par_copy_data_ingestion": {
							"value": "@pipeline().parameters.par_dt_ingestion",
							"type": "Expression"
						},
						"par_copy_file_name": {
							"value": "@variables('var_files')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "if file name is empty",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(pipeline().parameters.par_file_name),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_files",
								"value": {
									"value": "@pipeline().parameters.par_file_name",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_binary_landing",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_files",
								"value": {
									"value": "@activity('Get Metadata2').output.childItems",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_dt_ingestion": {
				"type": "string"
			},
			"par_file_name": {
				"type": "array",
				"defaultValue": []
			}
		},
		"variables": {
			"var_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ELT_Files_PDV"
		},
		"annotations": []
	}
}