pipeline/pp_main_PDV.json
{
	"name": "pp_main_PDV",
	"properties": {
		"activities": [
			{
				"name": "GetAllFileLanding",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_excel",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "landing",
							"p_file_name": {
								"value": "@pipeline().parameters.p_file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2022-06-12T00:00:00.492Z",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFileLanding",
				"description": "Get all files of landing container. \nps. All files must be extentions excel.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllFileLanding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllFileLanding').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_copy_excel_to_parquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_excel",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "landing",
										"p_file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": "raw",
										"p_directory_name": {
											"value": "/pdv/@{split(replace(item().name,' ',''),'.')[0]}/dtIngestao=@{variables('var_data_ingestion')}",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@{split(replace(item().name,' ',''),'.')[0]}.parquet\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_data_ingestion",
								"value": {
									"value": "@if(empty(pipeline().parameters.p_data_ingestion),formatDateTime(utcNow(), 'yyyyMMdd'),pipeline().parameters.p_data_ingestion)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_file_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_data_ingestion": {
				"type": "string"
			},
			"p_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"var_data_ingestion": {
				"type": "String"
			},
			"var_file_name": {
				"type": "String"
			},
			"var_msg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SourceLandingPDV"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-11T18:24:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}