pipeline/pp_main_PDV.json
{
	"name": "pp_main_PDV",
	"properties": {
		"activities": [
			{
				"name": "GetAllLandingFile",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_binary_landing",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachLandingFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllLandingFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllLandingFile').output.childItems\n\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_copy_excel_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_excel",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "landing",
										"p_file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": "raw",
										"p_directory_name": {
											"value": "@{split(item().name,'.')[1]}/@{split(item().name,'.')[0]}/dtingestion=@{pipeline().parameters.p_data_ingestion}\n",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@{split(item().name,'.')[0]}.parquet",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_data_ingestion": {
				"type": "string",
				"defaultValue": "yyyyMMdd"
			},
			"p_file_ingestion": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SourceLandingPDV"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-11T18:24:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}